.main {
  background: #fec43d;
  padding: 0.8rem 0;
  position: relative;
}

.container {
  padding: 0.3rem max(0.3rem, 10%);
  display: flex;
  overflow: auto;
  user-select: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.button {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background: black;
  position: absolute;
  top: 3.3rem;
  text-align: center;
  font-family: "Times New Roman", "Zapf Dingbats";
  font-size: 0.5rem;
  color: white;
  z-index: 3;
  line-height: 0.8;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}

.img {
  margin: 0.1rem;
  z-index: 1;
}

.img_1 {
  position: absolute;
  top: 0.6rem;
  left: calc(-2.5rem + 8%);
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.img_2 {
  position: absolute;
  bottom: 0;
  left: calc(-1rem + 10%);
  z-index: 2;
  pointer-events: none;
  user-select: none;
}
