@font-face {
  font-family: Baloo;
  src: url(fonts/Baloo-Regular.ttf);
}

@font-face {
  font-family: Trap-Bold;
  src: url(fonts/Trap-Bold.otf);
}

@media (max-width: 500px) {
  :root {
    font-size: 20vw; /* vw = px / width * 100 */
  }
}

@media (min-width: 500px) {
  :root {
    font-size: 100px;
  }
}

body {
  margin: 0;
  word-wrap: break-word;
}

h1 {
  margin: 0;
  font: 0.6rem Baloo;
  color: #233c25;
  line-height: 1;
}

h2 {
  margin: 0;
  text-align: center;
  font: 0.5rem Baloo;
}

.contactContainer {
  margin: 0.3rem 0;
  border-radius: 0.4rem;
  width: fit-content;
  overflow: hidden;
}

.contactContainer a {
  text-decoration: none;
}

.contactButton {
  padding: 0.25rem 0.8rem;
  font: 0.32rem Trap-Bold;
  color: white;
}
