@font-face {
  font-family: Trap;
  src: url(fonts/Trap-Regular.otf);
}

@font-face {
  font-family: Trap-Bold;
  src: url(fonts/Trap-Bold.otf);
}

.main {
  background: url(../../public/header/BG-2.svg) no-repeat bottom -2rem left 70%,
    url(../../public/header/BG-1.svg) no-repeat 0 1rem;
  background-size: 20rem, 100% 100%;
  position: relative;
}

@media (max-width: 916px) {
  .main {
    padding-top: 0.8rem;
  }
}

@media (min-width: 917px) {
  .main {
    padding-top: 3rem;
  }
}

@media (max-width: 1200px) {
  .main {
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-bottom: 1rem;
  }
}

.container {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  margin: 0.15rem;
  user-select: none;
}

.textContainer {
  margin: 0.15rem;
  max-width: 10rem;
  flex: 1 1 5rem;
  font: 0.25rem Trap;
}

.slogan {
  margin-top: 0.2rem;
  width: 100%;
  max-width: 6rem;
  height: auto;
  user-select: none;
}

.content {
  margin-bottom: 0.2rem;
}

.socials {
  display: inline-block;
  transform: scale(0.8) translateY(0.2rem);
}

.footer {
  margin: 0 calc(30% - 2rem);
  padding: 0.6rem calc(3% + 0.3rem) 0.6rem calc(8% + 0.5rem);
  position: relative;
}

.bg_3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  user-select: none;
}

.footer::before {
  content: url(../../public/header/BG-4.svg);
  position: absolute;
  bottom: -0.3rem;
  left: 15%;
  z-index: 0;
}

.footer::after {
  content: url(../../public/header/BG-5.svg);
  position: absolute;
  bottom: -0.3rem;
  right: 15%;
  z-index: 0;
}

.text {
  position: relative;
  color: white;
  z-index: 2;
}

.footerText {
  margin-bottom: 0.1rem;
  font: 0.25rem Trap-Bold;
  line-height: 1.5em;
}

.contact {
  font: 0.25rem Trap;
  color: inherit;
}

.img {
  position: absolute;
  user-select: none;
}

.left_1 {
  bottom: -1.8rem;
  left: calc(5% - 1rem);
  z-index: 1;
}

.left_2 {
  bottom: -1.2rem;
  left: calc(10% - 1rem);
  z-index: 0;
}

.right_1 {
  bottom: -2rem;
  right: calc(12% - 2rem);
  z-index: 2;
}

.right_2 {
  bottom: -1.5rem;
  right: calc(16% - 1.2rem);
  z-index: 1;
}

.right_3 {
  bottom: -1.2rem;
  right: calc(12% - 2rem);
  z-index: 0;
}
