@font-face {
  font-family: Trap;
  src: url(fonts/Trap-Regular.otf);
}

@font-face {
  font-family: Trap-Bold;
  src: url(fonts/Trap-Bold.otf);
}

.main {
  background: url(../../public/header/BG-2.svg) no-repeat bottom -2rem left 70%,
    url(../../public/header/BG-1.svg) no-repeat 0 0.5rem;
  background-size: 19rem, 100% 100%;
  position: relative;
  overflow-x: clip;
}

@media (max-width: 916px) {
  .main {
    padding-top: 0.8rem;
  }
}

@media (min-width: 917px) {
  .main {
    padding-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .main {
    padding-bottom: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-bottom: 0.8rem;
  }
}

.container {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0.15rem;
  user-select: none;
}

.textContainer {
  margin: 0.15rem;
  max-width: 8.5rem;
  flex: 1 1 5rem;
  font: 0.2rem Trap;
}

.slogan {
  margin-top: 0.1rem;
  width: 100%;
  max-width: 6rem;
  height: auto;
  user-select: none;
}

.content {
  margin-bottom: 0.2rem;
  line-height: 1.3;
}

.socials {
  display: inline-block;
  transform: scale(0.8) translateY(0.2rem);
}

.footer {
  padding: 0.6rem calc(30% - 1.3rem) 0.6rem calc(35% - 1.2rem);
  position: relative;
}

.bg_3 {
  width: calc(50% + 3rem);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(25% - 1.5rem);
  z-index: 1;
  user-select: none;
}

.footer::before {
  content: "";
  width: 0.82rem;
  height: 1.88rem;
  background-image: url(../../public/header/BG-4.svg);
  background-size: cover;
  position: absolute;
  bottom: -0.25rem;
  left: calc(35% - 1.2rem);
  z-index: 0;
}

.footer::after {
  content: "";
  width: 0.82rem;
  height: 1.88rem;
  background-image: url(../../public/header/BG-5.svg);
  background-size: cover;
  position: absolute;
  bottom: -0.3rem;
  right: calc(35% - 1.2rem);
  z-index: 0;
}

.text {
  position: relative;
  color: white;
  line-height: 0; /* prevent excessive space beetwen lines in div containing image, text, link */
  z-index: 2;
}

.footerText {
  margin-bottom: -0.1rem;
  font: 0.2rem Trap-Bold;
  line-height: 1.5;
}

.contact {
  font: 0.2rem Trap;
  color: inherit;
}

.img {
  position: absolute;
  user-select: none;
}

.left_1 {
  bottom: -1.8rem;
  left: calc(5% - 1rem);
  z-index: 1;
}

.left_2 {
  bottom: -1.2rem;
  left: calc(10% - 1rem);
  z-index: 0;
}

.right_1 {
  bottom: -2rem;
  right: calc(12% - 2rem);
  z-index: 2;
}

.right_2 {
  bottom: -1.5rem;
  right: calc(16% - 1.2rem);
  z-index: 1;
}

.right_3 {
  bottom: -1.2rem;
  right: calc(12% - 2rem);
  z-index: 0;
}
