.main {
  background: #71d3f2;
  padding: 0.8rem 0;
}

.container {
  margin: auto;
  max-width: calc(3rem + 50%); /* pixel = (1 - fraction) * 600 */
  padding: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  user-select: none;
}

.img {
  margin: 0.1rem;
}
