@font-face {
  font-family: Trap;
  src: url(fonts/Trap-Regular.otf);
}

@font-face {
  font-family: Trap-Bold;
  src: url(fonts/Trap-Bold.otf);
}

@font-face {
  font-family: Trap-Light;
  src: url(fonts/Trap-Light.otf);
}

@font-face {
  font-family: DrSugiyama;
  src: url(fonts/DrSugiyama-Regular.ttf);
}

.main {
  background-image: url(../../public/reviews/BG.svg);
  background-size: cover;
  padding: 0.6rem 0;
  overflow: hidden;
}

.bigText {
  margin: -1.4rem 0 -2.7rem;
  text-align: center;
  font: 3.6rem DrSugiyama;
  color: #18a0ca;
  user-select: none;
}

.container {
  padding: 0.2rem max(0.3rem, 8%);
  display: flex;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.box {
  margin: 0.1rem;
  border: 2px solid;
  border-radius: 0.25rem;
  width: 3rem;
  min-width: 3.2rem;
  background: #a6e6fe;
  padding: 0.4rem 0.3rem;
  font: 0.2rem Trap;
}

.header {
  height: 1rem;
  overflow: auto;
}

.name {
  font-family: Trap-Bold;
}

.occupation {
  font-family: Trap-Light;
}

.content {
  margin-top: 0.2rem;
  white-space: pre-wrap;
}
